{% extends "base.html" %}
{% load static %}

{% block title %}Добавить в вейтлист{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/add_to_waitlist.css' %}">
{% endblock %}
{% block content %}
    <div class="card">
        <h2>{{ game.title }}</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Добавить в вейтлист</button>
        </form>

        <a class="card-link" href="{% url 'gameInfo' game.itad_id %}">← Назад к игре</a>
    </div>
{% endblock %}