{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav class="navbar">
    <div class="navbar-left">
        <a href="{% url 'gameList' %}" class="navbar-logo">
            GameDealFinder
        </a>
    </div>

    <div class="navbar-right">
        {% if request.user.is_authenticated %}
            <span class="navbar-user">
                {{ request.user.email }}
            </span>

            <a href="{% url 'profile' %}" class="navbar-link">
                Профиль
            </a>

            <a href="{% url 'logout' %}" class="navbar-link navbar-link-danger">
                Выйти
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="navbar-link">
                Вход
            </a>

            <a href="{% url 'register' %}" class="navbar-link">
                Регистрация
            </a>
        {% endif %}
    </div>
</nav>
