{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

<header>
    <h1>GameDealFinder</h1>
    <a href="{% url 'gameList' %}">К списку игр</a>
</header>

<div class="container">
    <div class="card">
        <h2>Регистрация</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <p>
                {{ form.username.label_tag }}<br>
                {{ form.username }}
                {{ form.username.errors }}
            </p>

            <p>
                {{ form.email.label_tag }}<br>
                {{ form.email }}
                {{ form.email.errors }}
            </p>

            <p>
                {{ form.password1.label_tag }}<br>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </p>

            <p>
                {{ form.password2.label_tag }}<br>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </p>

            <button type="submit">Зарегистрироваться</button>
        </form>

        <a class="card-link" href="{% url 'login' %}">Уже есть аккаунт? Войти</a>
    </div>
</div>

</body>
</html>
